In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sama\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sama\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sama\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sama\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sama\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sama\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [6]:
## Load CSV

import pandas as pd

orders_df = pd.read_csv("orders.csv")

In [7]:
##Load JSON Data

users_df = pd.read_json("users.json")

In [11]:
import sqlite3

conn = sqlite3.connect("restaurants.db")
cursor = conn.cursor()

with open("restaurants.sql", "r") as file:
    sql_script = file.read()

cursor.executescript(sql_script)
conn.commit()

In [13]:
restaurants_df = pd.read_sql(
    "SELECT * FROM restaurants",
    conn
)

restaurants_df.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [14]:
##Merge the Data
orders_users_df = pd.merge(
    orders_df,
    users_df,
    on="user_id",
    how="left"
)

final_df = pd.merge(
    orders_users_df,
    restaurants_df,
    on="restaurant_id",
    how="left"
)

In [16]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [17]:
##order trends
final_df.groupby("order_date")["order_id"].count()

order_date
01-01-2023    29
01-01-2024    27
01-02-2023    25
01-03-2023    37
01-04-2023    32
              ..
31-05-2023    33
31-07-2023    27
31-08-2023    24
31-10-2023    30
31-12-2023    29
Name: order_id, Length: 366, dtype: int64

In [22]:
##user behaviour
final_df.groupby("user_id")["total_amount"].sum()

##final_df.columns

user_id
1       1289.66
2       7564.12
3       1839.51
4       3741.16
5       5742.88
         ...
2996    1533.54
2997    5310.32
2998    4241.47
2999     643.89
3000    2226.63
Name: total_amount, Length: 2883, dtype: float64

In [23]:
## City-wise and cuisine-wise performance
final_df.groupby("cuisine")["total_amount"].sum()

cuisine
Chinese    1930504.65
Indian     1971412.58
Italian    2024203.80
Mexican    2085503.09
Name: total_amount, dtype: float64

In [20]:
## membership impact
final_df.groupby("membership")["o_amount"].mean()

KeyError: 'Column not found: order_amount'